<section ng-controller="MyAccountController">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
        <a class="navbar-brand" href="#">Bill Desk</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto" data-ng-show="authentication.user">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/#!/user/{{authentication.user.userId}}">My Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#!/articles/create">Create Articles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#!/articles">List Articles</a>
            </li>
            <li class="nav-item" ng-if="authentication.user.role == 'Admin'">
                <a class="nav-link" href="/#!/menu/create">Create Menu Item</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto" data-ng-show="!authentication.user">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right">
            <li class="nav-item" data-ng-show="!authentication.user">
                <a class="nav-link" href="/#!/signin">SignIn</a>
            </li>
            <li class="nav-item" data-ng-show="!authentication.user">
                <a class="nav-link" href="/#!/signup">SignUp</a>
            </li>
            <li class="nav-item" data-ng-show="authentication.user">
                <a class="nav-link" href="/signout">Log Out</a>
            </li>
        </ul>
        </div>
    </nav>
</section>